<?xml version="1.0"?>
<configuration>
	<appSettings>     
    
   
    <!--The following line specifies how the ProductName property is formatted-->
    <add key="ProductNameFormat" value="{Manufacturer}, {Model}, {Revision}"/>
    
    <!--The following line specifies a persistent alias for the ProductName property-->
    <add key="ProductNameAlias" value="concat(Manufacturer, Model, Revision)"/>            
    
    
		<add key="Modules" value=""/>
		<add key="NewVersionServer" value=""/>
		<add key="EnableDiagnosticActions" value="False"/>		
	<add key="Languages" value=""/></appSettings>
	<system.diagnostics>
		<switches>			
			<add name="eXpressAppFramework" value="3"/>			
		</switches>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
